body{
	margin: 0;
}
#navv {
	position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
  	flex-direction: row;
 	justify-content: flex-end;
  	background: #449399;
}
#navv a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
}

#navv a:hover {
  background: #3a7b80;
}
#About{
	padding-top: 10em;
	padding-bottom: 10px;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 3em;
}
#Education{
	padding: 10em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 3em;
}
#conne{
	padding: 10em;
	padding-bottom: 16em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 3em;
}
#Education h1, #About h1, #conne h1{
	padding: 0em;
 	font-size: 3em;
 	font-weight: bold;
	text-align: center;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	color: #449399; 
}
#Education h3, #About h3{
	color: #000000;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

}

#About h1{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}